.head-nav .router-link-active{
    border-bottom: 2px solid white;
}
.home .curiers .router-link-exact-active
{
	outline: none;
    background-color: #26a69a;
    color: #fff;
}
.posfix{
	position: fixed;
}
.posabs{
	position: absolute;
}
.posb{
	bottom:15px;
}
.posr{
	right: 15px;
}
.posl{
    left: 15px;
}
.post{
	top: 15px;
}