.home{
	position: relative;
}
.head-nav .router-link-active{
    border-bottom: 2px solid white;
}
.home .curiers .router-link-exact-active
{
	outline: none;
    background-color: #26a69a;
    color: #fff;
}
.posfix{
	position: fixed;
}
.posabs{
	position: absolute;
}
.posb{
	bottom:15px;
}
.posr{
	right: 15px;
}
.posl{
    left: 15px;
}
.post{
	top: 15px;
}
.preloader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #5f5f5f3d;
}
.preloader .preloader-wrapper {
	position: relative;
	left: 47%;
	top: 47%;
}